.exploreProduct {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 2em;
  font-size: 0.9em;

  max-width: 100vw !important;
}

.explore-products_header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.explore-products_header span {
  font-weight: 600;
  color: #db4444;
}

.explore-products_mini__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-products_large_text {
  font-size: 2em;
  font-weight: 600;
}

.explore-products_product__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

.explore-button_view-more {
  margin: auto;
  margin-top: 3em;

  outline: none;
  border: none;

  background-color: #db4444;
  padding: 0.5em 1.8em;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9em;

  cursor: pointer;
}
