.splash-main {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    width: 100%;
}

.splash-main img {
    width: 100%;
}

@media (max-width : 800px) {
    .splash-main {
        padding: 1rem;
    }
  } 

  @media (max-width : 680px) {
    .splash-main {
        display: none;
    }
  }