.search-bar-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em 0.5em;
  align-items: center;
}

.search-bar-result:hover {
  background-color: rgb(238, 244, 244);
  cursor: pointer;
}

.search-bar-result span {
  font-size: 0.8em;
  color: grey;
  font-weight: 400;
}

.vendor-text {
  font-size: 0.8em;
}
