.categories {
  display: grid;
  place-content: center;
  margin-top: 1em;
  padding: 2em;
}
.categoriesContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 20em 20em 20em;
  gap: 1em;
}

@media only screen and (max-width: 1116px) {
  .categoriesContainer {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1116px) {
  .categoriesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 570px) {
  .categoriesContainer {
    grid-template-columns: 1fr;
  }
}
