.splash-left__container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding-top: 2em;

  border-right: 1px solid rgba(144, 109, 109, 0.212);
}

.splash-left__category {
  padding: 0.3em 0.5em 0.3em 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.splash-left__category span {
  font-size: 0.9em;
  color: black;

  transition: 0.2s ease-in-out;
}

.splash-left__category span:hover {
  color: rgb(144, 109, 109);
}

.splash-left__category img {
  margin-left: auto;
}

@media (max-width: 1190px) {
  .splash-left__category {
    padding-left: 1.5em;
  }
}

@media (max-width: 1133px) {
  .splash-left__container {
    gap: 0.1em;
  }

  .splash-left__category {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

@media (max-width: 1060px) {
  .splash-left__category span {
    font-size: 0.8em;
  }
}

@media (max-width: 900px) {
  .splash-left__container {
    border: none;
    gap: 0.2em;
  }

  .splash-left__category {
    padding: 0.3em 0.5em 0.3em 2.5em;
  }
}

@media (max-width: 970px) {
  .splash-left__container {
    padding-top: 0.5em;
  }
}
