.profile-page {
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}
.profile-page-main {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  flex: 1;
}

.profile-page-left {
  background-color: white;
  width: 100%;
  padding-top: 15vh;

  
  position: sticky; /* Make it sticky */
  top: 0; /* Stick it to the top of the container */
}

.profile-side-bar-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-sidebar-link-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  display: flex;
  align-items: center;
}

.profile-sidebar-link {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;

  cursor: pointer;
}

.profile-sidebar-link:hover {
  background-color: #edf6ff;
}

.profile-sidebar-link-arrow {
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.profile-main-left-bottom-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profile-main-left-bottom {
  border: 1px solid #a6c8e9;
  padding: 0.7rem 1.2rem;
  border-radius: 1.5rem;
  max-width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-main-left-bottom button {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.profile-main-left-bottom span {
  font-size: 0.9rem;
}
.profile-page-right {
  background-color: #fbf7f4;
  width: 100%;
}

.profile-page-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem 3rem;

    overflow-y: auto; /* Add overflow-y to enable scrolling */

}

.profile-user-text {
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #384d6c;
  max-width: fit-content;
  color: #384d6c;
}

.profile-photo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.profile-photo-left {
  height: 8rem;
}

.profile-pic {
  max-height: 100%;
  border-radius: 50%;
}

.profile-photo-middle {
  display: flex;
  flex-direction: column;
}

.profile-photo-name {
  color: #384d6c;
  font-size: 1.1rem;
  font-weight: 600;
}

.profile-photo-isVendor {
  color: #384d6c;
  font-size: 0.9rem;
  font-weight: 400;
}

.profile-photo-right {
  margin-left: auto; /* Pushes the right div to the extreme right */
}

.profile-photo-right-button {
  padding: 0.8rem 0.9rem;
  outline: none;
  border: none;
  background-color: #384d6c;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  /* Remove "right: 0;" as it's not needed */
}

.profile-right-main {
  margin-top: 0.5rem;
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.profile-label {
  color: #384d6c;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.profile-input {
  width: 100%;
  outline: none;
  border: 1px solid #edf6ff;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}

.profile-products {
  padding: 0.2rem 0;
  border-top: 1px solid #384d6c58;
  border-bottom: 1px solid #384d6c58;
}

.profile-product-text {
  font-weight: 500;
  color: #384d6c;
}

.profile-product-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.profile-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem 0.2rem;
}

.profile-product button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

.profile-bottom {
  margin-top: 0.2rem;
  display: flex;
  justify-content: end;
}


.profile-save-button {
    padding: 0.8rem 0.9rem;
    outline: none;
    border: none;
    background-color: #384d6c;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}