/* .home-style {
    background-image: url('assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
   */

.home-splash {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.splash-left {
  width: 100%;
}


.splash-right {
  width: 100%;
}