/* .home-style {
    background-image: url('assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
   */

.home-splash {
  display: grid;
  grid-template-columns: 1fr 4fr;

  position: relative;
}

.home-menu-icon {
  display: none;
  position: absolute;
  height: 1.8em;
  top: 0.5em;
  left: 2em;
  z-index: 999999999;

  cursor: pointer;
}

.splash-left {
  width: 100%;
  height: 100%;
  transition: 0.2s all ease-in-out;
}

.splash-right {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .home-splash {
    grid-template-columns: 1fr;
  }
  .splash-left {
    left: -100%;
    position: absolute;
    background-color: white;
    max-width: fit-content;
    padding: 2em 1em 0 0;
  }

  .splash-right {
    padding-top: 2em;
  }
  .home-menu-icon {
    display: block;
  }
}
