.cart-item {
}

.cart-item:hover {
  background-color: rgba(203, 191, 191, 0.624);
}

.cart-item-top {
  display: flex;
  padding: 0.5em 2em;
  gap: 1em;
}

.cart-item-left-image {
  height: 3.5em;
  width: 3.5em;
  object-fit: cover;
}

.cart-item-middle {
  display: flex;
  flex-direction: column;

  width: 6em;
  justify-content: space-between;
  padding: 0.5em 0.2em;
}

.cart-item-middle-name {
  max-width: fit-content;
  font-weight: bold;
  font-size: 0.9em;
}

.cart-item-middle-price {
  max-width: fit-content;
  font-weight: lighter;
  font-size: 0.8em;
}

.cart-item-right {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;
  width: 2em;
}

.minus {
  cursor: pointer;
  font-size: 1em;

  outline: none;
  border: none;
  background-color: transparent;
  color: black;
}

.amount {
  font-weight: bold;
  font-size: 0.9em;
}

.cart-item-right {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.75em;
  color: red;
}
