.cart-item {

}

.cart-item:hover {
  background-color: rgba(203, 191, 191, 0.624);
}

.cart-item-top {
  display: flex;
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.cart-item-left-image {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

.cart-item-middle {
  display: flex;
  flex-direction: column;

  width: 6rem;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
}

.cart-item-middle-name {
  max-width: fit-content;
  font-weight: bold;
  font-size: 0.9rem;
}

.cart-item-middle-price {
  max-width: fit-content;
  font-weight: lighter;
  font-size: 0.8rem;
}

.cart-item-right {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  width: 2rem;
}

.minus {
  cursor: pointer;
  font-size: 1rem;

  outline: none;
  border: none;
  background-color: transparent;
  color: black;
}

.amount {
  font-weight: bold;
  font-size: 0.9rem;
}


.cart-item-right {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.75rem;
  color: red;
}