.featured {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 2em;
  font-size: 0.9em;
}

.featured_header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.featured__text {
  font-weight: 600;
  color: #db4444;
}

.featured-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2em;
}

.featured-left {
  display: flex;
  width: 100%;
  background-color: black;

  position: relative;
}

.featured-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
.featured-right_top {
  background-color: black;
  position: relative;
}

.featured-right_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.featured-last-image {
  background-color: black;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.featured-last-image img {
  scale: 0.8;
}

.featured-left_text-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.5em;

  position: absolute;
  bottom: 2em;
  left: 1em;

  max-width: 50%;
}

.featured-left_text-container button {
  text-decoration: underline;
  padding: 0.3em 0.1em;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: white;
  cursor: pointer;

  max-width: fit-content;
  font-size: 1em;
}
.featured-left_text-container-big-text {
  font-size: 1.8em;
  font-weight: bold;
}

.featured-left_text-container-small-text {
  font-size: 1em;
}

.featured-right_text-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.1em;

  position: absolute;
  bottom: 1em;
  left: 1em;
}

.featured-right_text-container-big-text {
  font-size: 1.8em;
  font-weight: bold;
}

.featured-right_text-container-small-text {
  font-size: 1em;
  font-weight: 300;
}

.featured-right_text-container button {
  text-decoration: underline;
  padding: 0.3em 0.1em;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: white;

  max-width: fit-content;
  font-size: 1em;

  cursor: pointer;
}

.featured-right_bottom_text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  max-width: 80%;
}

.featured-right_bottom_text-container-big-text {
  font-size: 1.5em;
  font-weight: 600;
}

.featured-right_bottom_text-container span {
  color: white;
}

.featured-right_bottom_text-container-small-text {
  font-weight: 300;
}

.featured-right_bottom_text-container button {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;

  max-width: fit-content;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
