.footer {
  background-color: black;
  color: white;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2em;
  width: 100%; /* Make the grid container take the full width of the page */

  padding: 2em 4em;
}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.footer-right {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.footer-middle {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.footer-middle_inner {
  display: flex;
  flex-direction: column;
  width: 12em;
  gap: 0.6em;
}

.footer-left_first,
.footer-left_second,
.footer-middle,
.footer-right_first,
.footer-right_second {
  width: 12em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6em;
}

.footer-left_title {
  font-size: 1.1em;
  font-weight: bold;
}

.footer-left_subtitle {
  font-size: 1em;
  font-weight: 600;
}

.footer-text {
  font-size: 0.8em;
  font-weight: 400;
}

.footer-input-cont {
  position: relative;
}

.footer-input-cont input {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0.2em;

  padding: 0.4em 0.6em;
  font-size: 0.8em;
  width: 100%;
}

.footer-input-cont input::placeholder {
  color: gray;
}

.footer-input-cont img {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  right: 1.1em;
  scale: 0.8;
}

.footer-mini-text {
  font-size: 0.6em;
  font-weight: 300;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}
